// Mixin pour les inputs
@mixin input-style(
  $border-color: $color-button-dark,
  $background-color: $color-button-dark,
  $placeholder-style: italic,
  $padding: 0.4em,
  $margin: 0.4em 0.5em 0.1em 0.5em
) {
  padding: $padding;
  margin: $margin;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: $font-size;
  font-family: inherit;

  &::placeholder {
    font-style: $placeholder-style;
    color: $color-primary-hover;
    font-size: $font-size-input;
    padding-left: 0.4em;
  }

  &:focus {
    outline: none;
    border-color: $color-primary-hover;
    box-shadow: 0 0 5px rgba(100, 108, 255, 0.5);
  }

  &:hover {
    border-color: $color-primary-light-hover;
  }
}

// Mixin pour les boutons
@mixin button-style($padding: 0em 0.4em 0.3em 0.4em) {
  border-radius: $border-radius;
  border: 1px solid transparent;
  padding: $padding;
  font-size: $font-size;
  font-weight: 500;
  font-family: inherit;
  background-color: $color-button-dark;
  cursor: pointer;
  transition: border-color $transition-duration;

  &:hover {
    border-color: $color-primary-hover;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
