// Couleurs
$color-text-light: rgba(255, 255, 255, 0.87);
$color-text-dark: #213547;
$color-background: #242424;
$color-background-light: #ffffff;
$color-primary: #646cff;
$color-primary-hover: #535bf2;
$color-primary-light-hover: #747bff;
$color-button-dark: #1a1a1a;
$color-button-light: #f9f9f9;

// Typographie
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-size: 1em;
$font-size-input: 0.9em;
$line-height: 1.5;
$font-weight: 400;

// Mise en page
$max-width: 1280px;

// Autres
$border-radius: 8px;
$transition-duration: 0.25s;
